<h2><%= @project.title %></h2>
<p><%= @project.description %></p>
<%= link_to 'Retour aux projets', projects_path %>
<%= cl_image_tag("gHAdqx44jaPxsWZtwfx78bqa", width: 400, height: 300, crop: :fill) %>